<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OCRFFNetwork.Network" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <OCRFFNetwork.Network>
            <setting name="DatasetDirectory" serializeAs="String">
                <value>..\..\..\dataset</value>
            </setting>
            <setting name="TrainDirectory" serializeAs="String">
                <value>\train</value>
            </setting>
            <setting name="ValidationDirectory" serializeAs="String">
                <value>\validation</value>
            </setting>
            <setting name="TestDirectory" serializeAs="String">
                <value>\test</value>
            </setting>
            <setting name="Seed" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="LearningRate" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="NumberOfLayers" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="LettersInAlphabet" serializeAs="String">
                <value>26</value>
            </setting>
            <setting name="WeightsHidden" serializeAs="String">
                <value>..\..\..\weights\weightsHiddenLayer.txt</value>
            </setting>
            <setting name="IgnoreValidationNumber" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="AcceptanceRatio" serializeAs="String">
                <value>0.98</value>
            </setting>
            <setting name="WeightsOutput" serializeAs="String">
                <value>..\..\..\weights\weightsOutputLayer.txt</value>
            </setting>
            <setting name="Theshhold" serializeAs="String">
                <value>0.05</value>
            </setting>
        </OCRFFNetwork.Network>
    </applicationSettings>
</configuration>